header, footer{
    padding: 40px;
    background-color:rgb(99, 99, 165) ;
}

.main{
    display: flex;
}

.about{
    padding: 50px;   
}


.main .about-name{
    margin: 10px;
    font-size: 50px;
}

.about-role{
    margin: 10px;
    font-size: 30px;
}

.aboutme{
    margin:10px
}

.aboutme h4{
    font-size: 30px;
}

.skills{
    margin: 15px;
}

.skills h4{
    font-size: 30px;
}

.contact h4{
    font-size: 30px;
}

.professional{
    padding: 50px;
}
